$primaryColor: #009e66;

$textColor: #9f9f9f;
$buttonTextColor: #ffffff;
$buttonTextSelectedColor: #005235;

$titleColor: #f0f0f0;
$titleSecondaryColor: #f3f3f3;

$bgColor: #101010;
$bgSecondaryColor: #242426;
