.homeBlock {
   height: 100vh;

   background-color: #607597;
}

.container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;

   composes: globalContainer from '../../common/styles/styles.module.css';
}

.greeting {
   width: 500px;

   border: 1px solid;
   background-color: #efdddd;
}

.mainPhoto {
   width: 300px;
   height: 400px;

   border: 1px solid;
   background-color: #efdddd;
}
