   @import 'src/common/sass/variables';
   @import 'src/common/sass/mixins';

.contactsBlock {
   width: 100%;
   min-height: 30vh;
   padding: 105px 0;

   text-align: center;

   background-color: #1f1f20;



   .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;

      @include globalContainer();

      .title {
         border: 1px solid;
      }

      .form {
         display: flex;
         align-items: center;
         flex-direction: column;

         width: 400px;

         input {
            overflow: visible;

            width: 100%;
         }

         textarea {
            overflow: auto;

            width: 100%;

            resize: vertical;
         }

         .formControl {
            font-family: inherit;
            font-size: 15px;

            margin-bottom: 30px;
            padding: 9px 14px;

            color: #777;
            border: none;
            border-bottom: 1px solid transparent;
            border-radius: 0;
            background-color: #242426;

            transition: all .15s ease-in-out;

            &:focus {
               border-bottom-color: $primaryColor;
               outline: none;
            }
         }


         @media screen and (max-width: 504px) {
            width: 100%;
         }
      }
   }
}
